

<%- include('./partials/head') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bibek Mainali</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="square-one"></div>
  <div class="square-two"></div>
  <div class="square-three"></div>
  <div class="square-four"></div>
  <div class="square-five"></div>
  <section>
   <img src="assets/Appa.avif" alt="">
   <h1>Bibek Mainali</h1>
   <h2>Nickname</h2>
   <div></div>
   <h3>Bio</h3>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, a? Aliquid cupiditate
    nventore quisquam illum id alias sed sequi 
    corrupti veniam voluptatibus ad, velit aut quibusdam similique temporibus nisi in.
   </p>
   <script>
        let squareone = document.querySelector(".square-one");
        
        squareone.onclick = function () {
          squareone.classList.toggle("active");
        };        
   </script>
  </section>
</body>
</html>










<%- include('./partials/foot') %>
