*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
}

img{
  width: 10em;
  height: auto;
  border-radius: 5em;
}

section{
  position: relative;
  text-align: center;
  color: white;
  width: 25em;
  padding: 3em;
  border-radius: 2em;
  z-index: 10;
  background: rgba(101, 101, 101, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);

  & h1{
     padding: 0.5em 0 0.3em 0;
  }

  & h2{
    font-size: 1em;
  }

  & div{
    height: 0.1em;
    width: 100%;
    background: rgb(177, 173, 173);
    margin: 1em 0em 1em 0em;
  }

  & h3{
    padding: 0.3em;
  }

}

/* .cirkel-one{
  position: absolute;
  width: 16em;
  height: 16em;
  border-radius: 50%;
  background: rgb(75, 104, 220);
  top: 35%;
  left: 20%;
} */


.square-one{
  position: absolute;
  width: 6em;
  height: 6em;
  background: rgba(101, 101, 101, 0.6) ;
  left: 33%;
  top: 17%;
  border-radius: 10%;
  backdrop-filter: blur(10px);
  filter: blur(2px);
  transition: 0.3s;
}

.square-two{
  position: absolute;
  width: 6em;
  height: 6em;
  background: rgba(101, 101, 101, 0.6) ;
  left: 76%;
  top: 80%;
  border-radius: 10%;
  backdrop-filter: blur(10px);
  filter: blur(2px);
  transition: 0.3s;
}

.square-three{
  position: absolute;
  width: 6em;
  height: 6em;
  background: rgba(101, 101, 101, 0.6) ;
  left: 20%;
  top: 80%;
  border-radius: 10%;
  backdrop-filter: blur(10px);
  filter: blur(2px);
  transition: 0.3s;
}

.square-four{
  position: absolute;
  width: 6em;
  height: 6em;
  background: rgba(101, 101, 101, 0.6) ;
  left: 90%;
  top: 10%;
  border-radius: 10%;
  backdrop-filter: blur(10px);
  filter: blur(2px);
  transition: 0.3s;
}

.square-five{
  position: absolute;
  width: 6em;
  height: 6em;
  background: rgba(101, 101, 101, 0.6) ;
  left: 5%;
  top: 40%;
  border-radius: 10%;
  backdrop-filter: blur(10px);
  filter: blur(2px);
  transition: 0.3s;
}

.square-one.active{
  margin: 5em;
}

